{{ define "all-collections" }}
{{ $PageData := .TemplateData }}
{{ template "head" .}}

<body>
    <div class="container">
        {{template "header" .}}

        <h1>Collections</h1>

        <p>
        {{ range $Collection, $RelatedPages :=  .DeepDataMerge.CollectionsMap }}
            <!-- <h3>Collection {{$Collection}}</h3> -->
            <!-- <ul> -->
            {{ if eq $Collection "collections/systems.html" }}
            <a class="collection-block-title" href="{{$Collection}}">Systems</a>
            {{ else if eq $Collection "collections/inked.html" }}
            <a class="collection-block-title" href="{{$Collection}}">Inked</a>
            {{ else if eq $Collection "collections/2025.html" }}
            <a class="collection-block-title" href="{{$Collection}}">2025</a>
            {{ else if eq $Collection "collections/2024.html" }}
            <a class="collection-block-title" href="{{$Collection}}">2024</a>
            {{ else if eq $Collection "collections/2023.html" }}
            <a class="collection-block-title" href="{{$Collection}}">2023</a>
            {{ else if eq $Collection "collections/post.html" }}
            <a class="collection-block-title" href="{{$Collection}}">Posts</a>
            {{ else if eq $Collection "collections/talks.html" }}
            <a class="collection-block-title" href="{{$Collection}}">Talks</a>
            {{ else if eq $Collection "collections/tech.html" }}
            <a class="collection-block-title" href="{{$Collection}}">Tech</a>
            {{ else }}
            <a class="collection-block-title" href="{{$Collection}}">{{$Collection}}</a>
            {{ end }}
            <!-- </ul> -->

            <!-- {{ range $RelatedPages }}
                <table class="post-table">
                    <tr>
                        <td>{{.Frontmatter.Date}}</td>
                        <td><a class="collection-block-title" href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a></td>
                    </tr>
                </table>
            {{ end }} -->
        {{end}}
        </p>

    </div>

    {{template "footer" .}}

</body>

<script>
const month_names_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

const postDates = document.querySelectorAll('span.post-date');

postDates.forEach((element) => {
  const commitDate = element.textContent;
  const date = new Date(commitDate);
  const monthIndex = date.getUTCMonth(); // 0-11
  const monthName = month_names_short[monthIndex]; // adjust for zero-based index
  element.textContent = `${monthName} ${date.getFullYear()}`;
});
</script>


</html>

{{ end}}
