{{ define "all-collections"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
    <div class="container">
        {{template "header" .}}

        {{ range $Collection, $RelatedPages :=  .DeepDataMerge.CollectionsMap }}
            <!-- <h3>Collection {{$Collection}}</h3> -->
            {{ if eq $Collection "collections/dist_sys.html" }}
            <h2>Distributed Systems</h2>
            {{ else if eq $Collection "collections/inked.html" }}
            <h2>Inked</h2>
            {{ else if eq $Collection "collections/post.html" }}
            <h2>Posts</h2>
            {{ else if eq $Collection "collections/talks.html" }}
            <h2>Talks</h2>
            {{ else if eq $Collection "collections/tech.html" }}
            <h2>Tech</h2>
            {{ else }}
            <h2>{{$Collection}}</h2>
            {{ end }}

            {{ range $RelatedPages }}
                <a class="cite-block" href="/{{ .CompleteURL }}">
                    <p><span class="post-date">{{.Frontmatter.Date}}</span > · <p class="post-card-heading" >{{.Frontmatter.Title}}</p></p>
                    {{ if eq (len .Frontmatter.Description) 0}}
                    {{else}}
                    <br />
                    <p class="post-card-description">{{printf "%.50s" .Frontmatter.Description}}...</p>
                    {{end}}
                </a>
            {{ end }}
        {{end}}

    </div>


    {{template "footer" .}}

</body>

<script>
const month_names_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

const postDates = document.querySelectorAll('span.post-date');

postDates.forEach((element) => {
  const commitDate = element.textContent;
  const date = new Date(commitDate);
  const monthIndex = date.getUTCMonth(); // 0-11
  const monthName = month_names_short[monthIndex]; // adjust for zero-based index
  element.textContent = `${monthName} ${date.getFullYear()}`;
});
</script>


</html>

{{ end}}
