{{ define "collection-subpage"}}
{{$PageData := index .DeepDataMerge.Collections .PageURL}}
{{ template "head" .}}

<body>

        <div class="container">
            {{template "header" .}}


            <br />
                {{$CollectionSet := index .DeepDataMerge.CollectionsMap .PageURL}}
                {{range $CollectionSet }}

                <table class="post-table">
                    <tr>
                        <td>{{.Frontmatter.Date}}</td>
                        <td><a class="post-block-title" href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a></td>
                    </tr>
                </table>

                {{end}}

        </div>
        {{template "footer" .}}

</body>
</html>

{{ end }}
