{{ define "note"}}
{{$PageData := index .DeepDataMerge.Notes .PageURL}}
{{ template "head" .}}

<body>
    {{template "header" .}}
    <div class="container notetype">

        {{if eq $PageData.Frontmatter.Type "note"}}
        <div class="post-info">
            <h1>{{$PageData.Frontmatter.Title}}</h1>
            <p>
                Published on {{$PageData.Frontmatter.Date}}
                <!-- if lenght of frontmatter authors is 0 -->
                by

                {{ if eq (len $PageData.Frontmatter.Authors) 0 }}
                {{$.DeepDataMerge.LayoutConfig.Author}}
                {{ else }}

                {{range $PageData.Frontmatter.Authors }}
                {{ . }},
                {{ end }}

                {{ end }}
            </p>
            {{ if eq (len $PageData.Frontmatter.Tags) 0 }}
            {{ else }}
            <div class="tags-placeholder">
                {{range $PageData.Frontmatter.Tags}}
                <a class="post-tag" href="/tags/{{.}}.html"><code>{{.}}</code></a>
                {{end}}
            </div>
            {{ end }}

        </div>
        {{else}}
        {{end}}

        {{$PageData.Body}}
        {{ $CurratedNotes := index .DeepDataMerge.LinkStore .PageURL}}
        {{ if eq (len $CurratedNotes ) 0 }}
        {{ else }}
        <hr />
        <section class="notes">
            <h5>References in this note</h5>
            {{range index .DeepDataMerge.LinkStore .PageURL }}
            <a class="note-card" href="/{{ .CompleteURL }}">
                <div class="note-card div">
                    <p>• {{ .Frontmatter.Title }} | {{ .Frontmatter.Date }}</p>
                    <p class="note-card desc">{{ .Frontmatter.Description}}</p>
                </div>
            </a>
            {{end}}
        </section>
        {{ end }}

    </div>
    </div>
    {{template "footer" .}}
    {{ template "hover" .}}
</body>

</html>

{{ end}}