{{ define "notes-root" }}
{{$PageData := .DeepDataMerge.Notes }}
{{ template "head" .}}

<body>
    <div class="container" id="container">
        {{template "header" .}}
            <h1>Curated Notes</h1>
            <table class="post-table">
                {{ range .DeepDataMerge.Notes }}
                {{ if eq .Frontmatter.Head true }}
                <tr>
                    <td><a class="post-card-heading" href="/{{ .CompleteURL }}">{{.Frontmatter.Title}}</a></td>
                    <td  class="post-table date">{{.Frontmatter.Date}}</td>
                </tr>
                <tr>
                    <td> {{.Frontmatter.Description}}</td>
                    <td></td>
                </tr>
                {{ end }}
                {{ end }}
            </table>
            {{template "footer" .}}
    </div>
</body>

</html>

{{ end }}
