{{ define "notes-root" }}
{{$PageData := .DeepDataMerge.Notes }}
{{ template "head" .}}

<body>
    <div class="container">
        {{template "header" .}}
            <h1>Curated Notes</h1>
            <div class="posts">
                {{ range .DeepDataMerge.Notes }}
                {{ if eq .Frontmatter.Head true }}
                <p><a class="post-card" href="/{{ .CompleteURL }}">
                    <span class="post-card-heading">{{.Frontmatter.Title}}</span>
                </a> - {{.Frontmatter.Description}} </p>
                </p>
                {{ end }}
                {{ end }}
            </div>
            {{template "footer" .}}
    </div>
</body>

</html>

{{ end }}
