{{ define "note"}}
{{$PageData := index .DeepDataMerge.Notes .PageURL}}
{{ template "head-note" .}}

<body>
    <div class="container notetype">
        {{template "header" .}}

        {{if eq $PageData.Frontmatter.Type "note"}}
        <div class="post-info">
            <h1>{{$PageData.Frontmatter.Title}}</h1>
        </div>
        {{else}}
        {{end}}

        <br>

        {{$PageData.Body}}
        {{ $CurratedNotes := index .DeepDataMerge.LinkStore .PageURL}}
        {{ if eq (len $CurratedNotes ) 0 }}
        {{ else }}
        <hr />
        <section class="notes">
                <div class="cite-block">
                    <h6>References in this note</h6>
                    {{range index .DeepDataMerge.LinkStore .PageURL }}
                    <ul>
                        <li><a>{{.Frontmatter.Title}}</a></li>
                    </ul>
                    {{end}}
                </div>
        </section>
        {{ end }}

    </div>
    </div>
</body>

</html>

{{ end}}
