{{ define "page"}}
{{ template "head" .}}

<body>
    {{template "header" .}}
    <div class="container">

            {{if eq .Frontmatter.Type "post"}}
            <div class="post-info">
                <h1>{{.Frontmatter.Title}}</h1>
                <p>
                    Published on {{.Frontmatter.Date}}
                    <!-- if lenght of frontmatter authors is 0 -->
                    {{ if eq (len .Frontmatter.Authors) 0 }}
                    {{$.Layout.Author}}
                    {{ else }}
                    {{range .Frontmatter.Authors }}
                    {{ . }},
                    {{ end }}
                    {{ end }}

                </p>
                <div class="tags-placeholder">
                    {{range .Frontmatter.Tags}}
                        <a class="post-tag" href="/tags/{{.}}.html">#{{.}}</a>
                    {{end}}
                </div>
            </div>
            {{else}}
            {{end}}
            {{.Body}}

        <script>
            hljs.highlightAll();
            hljs.addPlugin(new CopyButtonPlugin());
        </script>

    </div>
  </div>
    {{template "footer" .}}
</body>

</html>

{{ end}}
