{{ define "page"}}
{{$PageData := index .DeepDataMerge.Templates .PageURL}}
{{ template "head" .}}

<body>

    <div class="container">
        {{template "header" .}}

            {{if eq $PageData.Frontmatter.Type "post"}}
            <div class="post-info">
                <p>
                    {{$PageData.Frontmatter.Date}}
                    ~
                    {{ if eq (len $PageData.Frontmatter.Authors) 0 }}
                        {{$.DeepDataMerge.LayoutConfig.Author}}
                    {{ else }}

                    {{range $PageData.Frontmatter.Authors }}
                        {{ . }},
                    {{ end }}

                    {{ end }}
                </p>
                <h1 class="post-title">{{$PageData.Frontmatter.Title}}</h1>
                {{ if eq (len $PageData.Frontmatter.Tags) 0 }}
                {{ else }}
                <div class="tags-placeholder">
                    {{range $PageData.Frontmatter.Tags}}
                    <a class="post-tag" href="/tags/{{.}}.html"><code>{{.}}</code></a>
                    <!-- <a class="post-tag" href="/tags/{{.}}.html">{{.}}</a> -->
                    {{end}}
                </div>
                {{ end }}

            </div>
            {{else}}
            <div class="post-info">
            <p>{{ $PageData.Frontmatter.Date }} ~ {{ .DeepDataMerge.LayoutConfig.Author }}</p>
            </div>
            {{end}}

            {{$PageData.Body}}

            {{template "footer" .}}
    </div>
  </div>
</body>

</html>

{{ end}}
