{{ define "posts"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
    <div class="container">
        {{template "header" .}}

            <h1>Posts</h1>

            <div class="posts">
                {{range $index, $Post := .DeepDataMerge.Posts}}
                <p><a class="post-card" href="/{{ .CompleteURL }}">
                    <span class="post-card-heading">{{$Post.Frontmatter.Title}}</span>

                </a> {{$Post.Frontmatter.Description}} </p>

                {{end}}
            </div>

            {{template "footer" .}}
    </div>
</body>

</html>

{{ end}}
