{{ define "posts"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
    <div class="container">
        {{template "header" .}}

            <h1>Posts</h1>
            <table class="post-table">
            <!-- <div class="posts"> -->
                {{range $index, $Post := .DeepDataMerge.Posts}}
                <tr>
                    <td><a class="post-card-heading" href="/{{ .CompleteURL }}">{{$Post.Frontmatter.Title}}</a></td>
                    <td  class="post-table date">{{$Post.Frontmatter.Date}}</td>
                </tr>
                <tr>
                    <td>{{$Post.Frontmatter.Description}}</td>
                    <td></td>
                </tr>
                {{end}}
            <!-- </div> -->
            </table>

            {{template "footer" .}}
    </div>
</body>

</html>

{{ end}}
