{{ define "tag-subpage"}}
{{$PageData := index .DeepDataMerge.Tags .PageURL}}
{{ template "head" .}}

<body>
    <div class="container" id="container">
        {{template "header" .}}

            <div id="container-zoom" class="container-zoom">
            <h1 class="post-title">Site Index</h1>
            <h3>Posts tagged <code>{{ $PageData.Frontmatter.Title }}</code> </h3>

            <table class="post-table">
                {{ $TagSet := index .DeepDataMerge.TagsMap .PageURL }}
                {{ range $TagSet }}
                    <p>[{{.Frontmatter.Date}}] <a class="post-card-heading" href="/{{ .CompleteURL }}">{{.Frontmatter.Title}}</a></p>
                    <br />
                {{end}}
            </table>

                <!-- <table class="post-table">
                {{ $TagSet := index .DeepDataMerge.TagsMap .PageURL }}
                {{ range $TagSet }}
                <tr>
                    <td><a class="post-card" href="/{{ .CompleteURL }}">{{.Frontmatter.Title}}</a></td>
                    <td  class="post-table date">{{.Frontmatter.Date}}</td>
                </tr>
                <tr>
                    <td>{{.Frontmatter.Description}}</td>
                    <td></td>
                </tr>
                {{end}} -->
            </table>
            {{template "footer" .}}
            </div>
    </div >
</body>

</html>

{{ end}}
