{{ define "tag-subpage"}}
{{$PageData := index .DeepDataMerge.Tags .PageURL}}
{{ template "head" .}}

<body>
    <div class="container" id="container">
        {{template "header" .}}

            <h1 class="post-title">Site Index</h1>
            <h3>Posts tagged <code>{{ $PageData.Frontmatter.Title }}</code> </h3>

            <table class="post-table">
                {{ $TagSet := index .DeepDataMerge.TagsMap .PageURL }}
                {{ range $TagSet }}
                    <table class="post-table">
                        <tr>
                            <td>{{.Frontmatter.Date}}</td>
                            <td><a class="post-block-title" href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a></td>
                        </tr>
                    </table>
                {{end}}
            </table>

    </div >
    {{template "footer" .}}
</body>

<script>
// const month_names_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

// const postDates = document.querySelectorAll('span.post-date');

// postDates.forEach((element) => {
//   const commitDate = element.textContent;
//   const date = new Date(commitDate);
//   const monthIndex = date.getUTCMonth(); // 0-11
//   const monthName = month_names_short[monthIndex]; // adjust for zero-based index
//   element.textContent = `${monthName} ${date.getFullYear()}`;
// });
</script>

</html>

{{ end}}
