{{ define "all-tags"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
    <div class="container" id="container">
        {{template "header" .}}

        <h1>Site Index</h1>

        <!-- previously a div that had post-tag -->
        <div class="all-tags">
            {{ range .TagNames }}
            <a class="post-tag" href="/tags/{{ . }}.html"><code>{{.}}</code></a>
            {{end}}
        </div>

        <div class="cite-block">
            <p>Browse by <a href="/collections.html">collections</a></p>
        </div>

        <h2>2025</h2>
        <ul style="margin-left: 0px;">
        {{ range $Collection, $RelatedPages :=  .DeepDataMerge.CollectionsMap }}
            {{ if eq $Collection "collections/2025.html" }}
                {{ range $RelatedPages }}
                    <li class="post-list-element">
                        <div>
                            <div>
                                <a class="post-list-title" href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a>
                                <br/>
                                <p class="post-list-description">{{.Frontmatter.Description}}</p>
                            </div>
                            <div class="post-list-date">{{.Frontmatter.Date}}</div>
                        </div>
                    </li>
                {{ end }}
            {{else}}
            {{end}}
        {{end}}
        </ul>

        <h2>2024</h2>
        <ul style="margin-left: 0px;">
        {{ range $Collection, $RelatedPages :=  .DeepDataMerge.CollectionsMap }}
            {{ if eq $Collection "collections/2024.html" }}
                {{ range $RelatedPages }}
                <li class="post-list-element">
                    <div>
                        <div>
                            <a class="post-list-title" href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a>
                            <br/>
                            <p class="post-list-description">{{.Frontmatter.Description}}</p>
                        </div>
                        <div class="post-list-date">{{.Frontmatter.Date}}</div>
                    </div>
                </li>
                {{ end }}
            {{else}}
            {{end}}
        {{end}}
        </ul>

        <h2>2023</h2>
        <ul style="margin-left: 0px;">
        {{ range $Collection, $RelatedPages :=  .DeepDataMerge.CollectionsMap }}
            {{ if eq $Collection "collections/2023.html" }}
                {{ range $RelatedPages }}
                <li class="post-list-element">
                    <div>
                        <div>
                            <a class="post-list-title" href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a>
                            <br/>
                            <p class="post-list-description">{{.Frontmatter.Description}}</p>
                        </div>
                        <div class="post-list-date">{{.Frontmatter.Date}}</div>
                    </div>
                </li>
                {{ end }}
            {{else}}
            {{end}}
        {{end}}
        </ul>

    </div >
    {{template "footer" .}}
</body>
<!-- <script>
const month_names_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

const postDates = document.querySelectorAll('span.post-date');

postDates.forEach((element) => {
  const commitDate = element.textContent;
  const date = new Date(commitDate);
  const monthIndex = date.getUTCMonth(); // 0-11
  const monthName = month_names_short[monthIndex]; // adjust for zero-based index
  element.textContent = `${monthName} ${date.getFullYear()}`;
});
</script> -->
</html>

{{ end}}
