{{ define "all-tags"}}
{{$PageData := .TemplateData}}
{{ template "head" .}}

<body>
    <div class="container" id="container">
        {{template "header" .}}

        <h1>Site Index</h1>

        <!-- previously a div that had post-tag -->
        <div class="all-tags">
            {{ range .TagNames }}
            <a class="post-tag" href="/tags/{{ . }}.html"><code>{{.}}</code></a>
            {{end}}
        </div>

        <div class="cite-block">
            <p>Browse by <a href="/collections.html">collections</a></p>
        </div>

        <h2>2025</h2>
        <table class="post-table">
        {{ range $Collection, $RelatedPages :=  .DeepDataMerge.CollectionsMap }}
            {{ if eq $Collection "collections/2025.html" }}
                {{ range $RelatedPages }}
                    <tr class="post-table-entry">
                        <td>{{.Frontmatter.Date}}</td>
                        <td><a class="post-block-title" href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a></td>
                    </tr>
                {{ end }}
            {{else}}
            {{end}}
        {{end}}
        </table>

        <h2>2024</h2>
        <table class="post-table">
        {{ range $Collection, $RelatedPages :=  .DeepDataMerge.CollectionsMap }}
            {{ if eq $Collection "collections/2024.html" }}
                {{ range $RelatedPages }}
                    <tr class="post-table-entry">
                        <td>{{.Frontmatter.Date}}</td>
                        <td><a class="post-block-title" href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a></td>
                    </tr>
                {{ end }}
            {{else}}
            {{end}}
        {{end}}
        </table>


        <h2>2023</h2>
        <table class="post-table">
        {{ range $Collection, $RelatedPages :=  .DeepDataMerge.CollectionsMap }}
            {{ if eq $Collection "collections/2023.html" }}
                {{ range $RelatedPages }}
                    <tr class="post-table-entry">
                        <td>{{.Frontmatter.Date}}</td>
                        <td><a class="post-block-title" href="/{{.CompleteURL}}">{{.Frontmatter.Title}}</a></td>
                    </tr>
                {{ end }}
            {{else}}
            {{end}}
        {{end}}
        </table>

    </div >
    {{template "footer" .}}
</body>
<!-- <script>
const month_names_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

const postDates = document.querySelectorAll('span.post-date');

postDates.forEach((element) => {
  const commitDate = element.textContent;
  const date = new Date(commitDate);
  const monthIndex = date.getUTCMonth(); // 0-11
  const monthName = month_names_short[monthIndex]; // adjust for zero-based index
  element.textContent = `${monthName} ${date.getFullYear()}`;
});
</script> -->
</html>

{{ end}}
