::selection {
    background-color: var(--selection-bg);
}

html {
    background-color: var(--color-background);
}

i,
em {
    font-family:
        EBGaramondItalic,
        /* IosevkaPragmataPro,
        FiraCode, */
        /* EBGaramondItalic, */ InterItalic,
        serif-serif;
    /* font-style: normal; */
    font-style: normal;
}

body {
    font-family:
        EBGaramond,
        /* IosevkaPragmataPro,
        FiraCode,
        monospace, */
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;

    line-height: 1.5;
    /* gap between letters */
    letter-spacing: 0.1px;
    letter-spacing: 0px;
    font-variant-ligatures: common-ligatures;

    text-rendering: optimizeLegibility;

    /* text opacity*/
    color: var(--color-text);

    margin-top: 0%;

    font-weight: 400;
    /* font-size: 0.95rem; */
    font-size: var(--style-body-font);
    transition:
        margin 0.3s ease-in-out,
        height 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    /* height: 85vh; */
    min-height: 99vh;

    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);

    /* margin-top: 6rem; */
}

@keyframes blurin {
    from {
        filter: blur(5px);
    }

    to {
        filter: blur(0px);
    }
}

@keyframes slidein {
    0% {
        /* margin-top: 5%; */
        transform: translateY(+16px);
        filter: blur(5px);
        opacity: 0;
    }

    100% {
        /* margin-top: 0; */
        transform: none;
        filter: blur(0px);
        opacity: 1;
    }
}

header {
    flex: 0;
    color: var(--color-text);

    display: flex;
    justify-content: center;

    width: var(--style-container-width);

    position: absolute;
    margin-top: -0.3rem;
    z-index: 1000;

    top: 0;
    margin-bottom: 2rem;

    font-family: Inter, system-ui,
        sans-serif;
}

nav {
    margin: auto;
    /* margin-inline: 1rem; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 2rem;

    /*font spacing*/
    letter-spacing: 0.5px;

    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    /* font-family: IosevkaPragmataPro, FiraCode, monospace, Inter, system-ui,
        sans-serif; */
    transition: width 0.3s cubic-bezier(1, 0, 0, 1);
}

footer {
    width: var(--style-container-width);
    flex: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem;

    bottom: 0;

    /* font-family: IosevkaPragmataPro, FiraCode, monospace; */
    font-weight: 250;
    font-size: 0.85rem;
    /* font-weight: 450; */
    align-self: center;

    /*border-top: 1px dotted var(--color-text-dim);*/
    color: var(--color-text-dim);

    & > span {
        color: var(--color-primary-dim);
    }

    /* & > * {
        padding-inline: 1rem;
    } */

    p {
        padding: 0;
        margin: 0;
    }
}

hr {
    border: 1.5px solid var(--color-text-dim);
    border-radius: 4px;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    /* border-style: dashed; */
    /* width: 25%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

ul,
ol {
    margin: 0;
    padding: 0;
    margin-left: 0.8rem;

    /*&:has(input) {*/
    /* disable styling */
    /* list-style-type: none; */
    /*}*/
}

li {
    margin-top: 0.4rem;
}

/* remove margin top for ul which are children
of a parent ul*/
ul ul {
    margin-top: 0;
}

p {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    /* padding-bottom: 0.7rem; */
    display: inline-block;
}

h1,
.loader-h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: left;
    word-break: break-word;

    color: var(--color-heading);
    /* color: var(--color-primary); */
    /* font-family: IosevkaPragmataPro, FiraCode, monospace, Inter, system-ui, */
        /* sans-serif; */

    line-height: 1.3;
    /* font-family: EBGaramond, sans-serif; */
    font-family: Inter;

    &:hover {
        .anchor {
            opacity: 1;
        }
    }
}

.loader-h1,
h1 {
    font-size: 1.4rem;
    /* font-size: 1.3rem; */
    /* font-size: 1.3rem; */
    margin-top: 2.2rem;
    /* &::before {
        content: "#";
    } */
}

h2 {
    /* font-size: 1.55rem; */
    /* font-size: 1.3rem; */
    /* font-size: 1.6rem; */
    font-size: 1.3rem;
    margin-top: 1.7rem;

    margin-top: 2rem;
    /* &::before {
        content: "##";
    } */
}

h3 {
    /* font-size: 1.3rem; */
    font-size: 1.1rem;
    /* font-size: 1.4rem; */
    margin-top: 1.6rem;

    margin-top: 1.8rem;
}

h4 {
    /* font-size: 1.3rem; */
    font-size: 1.05rem;
    /* font-size: 1.3rem; */
    margin-top: 1.4rem;

    margin-top: 1.6rem;
}

h5 {
    font-size: 1rem;
    margin-top: 1.2rem;
}

h6 {
    /* opacity: 0.6; */
    color: var(--color-subheading);
    font-size: 0.95rem;
}

h5,
h6 {
    /* font-weight: 550; */
    /* font-family:
        IosevkaPragmataPro,
        FiraCode,
        monospace,
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif; */
}

header + h1 {
    margin-top: 0.5rem;
}

a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;

    &:not(.header-element):not(.header-element-author):not(.footer-element):not(
            .post-tag
        ):not(.page-nav-element):not(.page-card):not(.link):not(.post-block) {
        padding-bottom: 0.1rem;

        &:hover {
            transition: color 300ms cubic-bezier(1, 0, 0, 1);
            color: var(--color-primary);
        }
    }
}

a:has(code),
a > code {
    transition: color 150ms ease-in-out;
    &:hover {
        color: var(--color-primary);
    }
}

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    scale: 1;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

    border-radius: var(--style-border-radius);
    overflow: hidden;
    object-fit: cover;
    object-position: center center;

    transition:
        border-radius 0.3s ease-in-out,
        scale 0.3s ease-in-out;

    &:hover {
        border-radius: var(--style-border-radius-hover);
        scale: var(--style-hover-scale);
    }
}

@keyframes blurload {
}

figure {
    padding: 0;
    margin: 0;

    margin-top: 1rem;
}

figcaption {
    display: flex;
    justify-content: start;
    margin: auto;
    /* font-family: EBGaramondItalic, serif; */
    font-family: InterItalic, sans-serif;
    color: var(--color-text-dim);
    font-size: 0.9rem;

    & > p {
        margin: 0;
        padding-top: 0.5rem;
        /* text-align: center; */
    }
}

iframe {
    border-radius: var(--style-border-radius);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: none;
    color: var(--color-text);
    background-color: var(--color-background);

    transition: all 300ms ease-in-out;

    &:hover {
        border-radius: var(--style-border-radius-hover);
        scale: var(--style-hover-scale);
    }
}

/* iframe stylings */
.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

details {
    /*margin-top: 1rem;*/
    color: var(--color-subheading);
    font-size: 0.95rem;
    font-family: Inter, sans-serif;
    font-weight: 550;
    user-select: none;
    -webkit-user-select: none;

    transition:
        padding 300ms ease-in-out,
        background-color 300ms ease-in-out;

    & > ul,
    & > ol {
        font-weight: 350;
        font-size: 1rem;
        /* margin-left: 2rem; */
    }
}

sumamry {
    color: var(--color-heading);
    /* font-weight: 500; */
    /* font-family: IosevkaPragmataPro, FiraCode, monospace; */
    font-weight: inherit;
    opacity: 1;
    font-size: 1.5rem;
}

summary::marker {
    content: "";
}

summary::-webkit-details-marker {
    content: "";
}

details > img {
    width: 70%;
}

details {
    /* font-family: IosevkaPragmataPro, FiraCode, monospace; */
    font-weight: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

details > details {
    margin-left: 1rem;
}

details::marker {
    content: none;
}

pre code {
    font-family: FiraCode, monospace;
    /* background: ; */
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: var(--style-border-radius);
}

pre > code {
    display: block;
    text-indent: 0;
    white-space: inherit;
}

pre code.hljs {
    font-family: FiraCode, monospace;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga" on;
    line-height: 1.3;
    font-size: 0.95rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding: 0.5rem; */
}

p > code,
li > code,
dd > code,
td > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
a > code {
    /* font-family: Courier, monospace; */
    font-family: FiraCode, monospace;
    color: var(--color-heading);
    background-color: var(--inline-code-bg);
    border: 1px solid var(--color-text-low);
    word-wrap: break-word;
    font-size: inherit;
    box-decoration-break: clone;
    padding: 0.1rem;
    padding-inline: 0.4rem;
    border-radius: 0.35rem;
    border-radius: 4px;
    font-size: 0.9rem;
}

blockquote {
    & > *:not(h1, h2, h3, h4, h5, h6) {
        font-family: EBGaramondItalic, monospace, CourierItalic, sans-serif;
        font-size: 1.2rem;
        font-weight: 350;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

    strong {
        font-weight: 550;
    }

    padding: 0.8rem;
    padding-inline: 1rem;

    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    color: var(--color-heading);

    /*border-left: 4px solid var(--color-primary); */

    /* prevent text from overflow out of screen */
    overflow-wrap: break-word;
    word-wrap: break-word;

    transition:
        border-radius 0.3s ease-in-out,
        scale 0.3s ease-in-out;

    &:hover {
        /* border-radius: var(--style-border-radius-hover); */
        scale: var(--style-hover-scale);
    }
}

.post-block-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 1.2rem;
}

.post-block {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 5px;

    & > p {
        margin: 0;
        padding: 0;
    }

    padding: 0.9rem;
    background-color: var(--inline-code-bg);
    border: 1.2px solid var(--color-text-low);
    /* box-shadow: 0px 1px 0 var(--color-text-low); */

    border-radius: var(--style-border-radius);
    font-size: 0.9rem;

    transition:
        border-radius 0.3s ease-in-out,
        scale 0.3s ease-in-out;

    &:hover {
        border-radius: var(--style-border-radius-hover);
        scale: var(--style-hover-scale);
    }
}

.cite-block {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

    padding: 0.9rem;
    background-color: var(--inline-code-bg);
    border: 1.2px solid var(--color-text-low);
    /* box-shadow: 0px 1px 0 var(--color-text-low); */

    border-radius: var(--style-border-radius);

    /* font-family: FiraCode, monospace; */

    & > p {
        margin: 0;
        padding: 0;
    }

    & > *:not(h1, h2, h3, h4, h5, h6) {
        font-family: FiraCode, monospace, CourierItalic, sans-serif;
        font-size: 0.9rem;
        font-weight: 350;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

    transition:
        border-radius 0.3s ease-in-out,
        scale 0.3s ease-in-out;

    &:hover {
        border-radius: var(--style-border-radius-hover);
        scale: var(--style-hover-scale);
    }
}
