/* Creating named values cuz im stupid */
/*@media (prefers-color-scheme: dark) {
    :root {
        --color-heading: #cecdc4;
        --color-subheading: #a0a0a0;
        --color-text: #cecdc4;
        --color-text-dim: #878580;
        --color-text-low: #575653;
        --color-text: #d2c5a5;
        --color-text-dim: #645c55;
        --color-text-low: #3e3832;

        --color-background: #000000;
        --color-background-dim: #0a0a0a7a;
        --color-background-low: #0a0a0a50;
        --color-background-contrast: #1a1a1a;

        --inline-code-bg: #1c1b1a;
        --selection-bg: #a0a0a0;

        --color-primary: #af4140;
    }
}*/

/*@media (prefers-color-scheme: light) {*/
:root {
    /*--color-heading: #000000;
        --color-subheading: #606060;*/
    /*--color-text: #4f4945;
        --color-text-dim: #baae96;
        --color-text-low: #baae9690;*/
    --color-text: #000000;
    --color-text-dim: #1a1a1a;
    --color-text-low: #1a1a1a90;

    /*--color-background: #fffcf1;
        --color-background-dim: #fffcf17a;
        --color-background-low: #fffcf150;
        --color-background-contrast: #161618;*/

    --color-background: #ffffff;
    --color-background-dim: #ffffff7a;
    --color-background-low: #ffffff50;
    --color-background-contrast: #161618;

    /*--inline-code-bg: #f2f0e6;*/
    --inline-code-bg: #f2efeb;
    --selection-bg: #d1d1d17d;
    --color-primary: #af4140;
}
/*}*/

:root {
    /*--color-primary: #7f4140;*/
    /*--color-primary: #fc4949;*/
    --color-primary-dim: #fc4949ef;
    --color-primary-low: #fc494950;

    --style-border-radius: 0px;
    --style-border-radius-hover: 0px;
    --style-hover-scale: 1;
    --style-container-width: 40rem;

    --style-body-font: 1.3rem;
    --style-body-font-mobile: 1.3rem;

    --animation-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@font-face {
    font-family: JuliaMono;
    src: url(/static/fonts/mono/JuliaMono.ttf);
    font-display: swap;
}

/*@font-face {
    font-family: Whisper;
    src: url(/static/fonts/serif/Whisper.ttf);
    font-display: swap;
}

@font-face {
    font-family: LibreCaslonCondensedItalic;
    src: url(/static/fonts/serif/LibreCaslonCondensedItalic.ttf);
    font-display: swap;
}

@font-face {
    font-family: PerfectlyNineties-Light;
    src: url(/static/fonts/serif/PerfectlyNineties/PerfectlyNineties-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: PerfectlyNineties-LightItalic;
    src: url(/static/fonts/serif/PerfectlyNineties/PerfectlyNineties-LightItalic.ttf);
    font-display: swap;
}

@font-face {
    font-family: PerfectlyNineties-Regular;
    src: url(/static/fonts/serif/PerfectlyNineties/PerfectlyNineties-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: PerfectlyNineties-Italic;
    src: url(/static/fonts/serif/PerfectlyNineties/PerfectlyNineties-Italic.ttf);
    font-display: swap;
}

@font-face {
    font-family: PerfectlyNineties-Semibold;
    src: url(/static/fonts/serif/PerfectlyNineties/PerfectlyNineties-Semibold.ttf);
    font-display: swap;
}

@font-face {
    font-family: PerfectlyNineties-SemiboldItalic;
    src: url(/static/fonts/serif/PerfectlyNineties/PerfectlyNineties-SemiboldItalic.ttf);
    font-display: swap;
}*/

@font-face {
    font-family: "EbGaramond";
    src: url(/static/fonts/serif/EbGaramond/EbGaramond.ttf);
    font-display: swap;
}

@font-face {
    font-family: "EbGaramondItalic";
    src: url(/static/fonts/serif/EbGaramond/EbGaramond-Italic.ttf);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url(/static/fonts/others/Inter.ttf);
    font-display: swap;
    font-feature-settings:
        "liga" 1,
        "calt" 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: Inter;
    }
}

@font-face {
    font-family: InterItalic;
    src: url(/static/fonts/others/InterItalic.ttf);
    font-display: swap;
    font-feature-settings:
        "liga" 1,
        "calt" 1;
}
