{{define "footer"}}

<!-- <footer>
    <a href="https://x.com/bwaklog">aditya hegde</a>
    <p><span id="local-time"></span></p>
</footer> -->

<!-- <script>
function updateClock() {
    // Create a new Date object for the current time
    const now = new Date();

    // Get the time string in HH-MM-SS format for Kolkata time zone
    const options = {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false,
        timeZone: 'Asia/Kolkata'
    };
    const timeString = now.toLocaleString('en-GB', options).replace(/:/g, ':');

    // Display the time
    document.getElementById('local-time').textContent = timeString;
}

// Update the clock every second
setInterval(updateClock, 1000);

// Initial call to display the clock immediately
updateClock();
</script> -->

<!--footer>
    <div class="footer-text">
        Rendered with <span style="color: #fc4949">&#10084;</span> by
        <a class="footer-element" href="https://github.com/acmpesuecc/anna"
            >anna</a
        >
        <br />
        updated on <span id="commit-date">god knows when</span> |
        <a
            id="commit-hash"
            class="footer-element"
            href="https://github.com/bwaklog/internethome/"
            >here</a
        >
    </div>
</footer-->

<!-- <div>
    <p>Press <code>􀆔 K</code> to open search</p>
</div> -->

<!-- <script>
    // get github latest commit hash for https://github.com/internethome
    const repoURL =
        "https://api.github.com/repos/bwaklog/internethome/commits/HEAD";

    fetch(repoURL)
        .then((response) => response.json())
        .then((data) => {
            const latestCommitHash = data.sha.slice(0, 7);

            const commitHashElement = document.getElementById("commit-hash");
            commitHashElement.href = `https://github.com/bwaklog/internethome/tree/${latestCommitHash}`;
            commitHashElement.textContent = `${latestCommitHash}`;

            console.log("Latest commit hash:", latestCommitHash);

            const commitDate = data.commit.author.date;
            const readable_date = new Date(commitDate).toDateString();
            console.log("Latest commit date:", readable_date);
            document.getElementById("commit-date").textContent = readable_date;
        })
        .catch((error) => {
            console.error("Error fetching data:", error);
        });
</script> -->
{{end}}
