{{define "head"}}
<!-- If the template for a particular url does not exist(posts.html), setting it to the specific page template data -->
{{ $PageData := index .DeepDataMerge.Templates .PageURL }} {{if eq $PageData nil
}} {{ $PageData := index .DeepDataMerge.Notes .PageURL }} {{end}} {{if eq
$PageData nil }} {{ $PageData = .TemplateData }} {{end}}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="{{ $PageData.Frontmatter.Description }}"
        />
        <title>{{ $PageData.Frontmatter.Title }}</title>

        <!-- smooth scroll -->
        <!-- <script src="https://unpkg.com/lenis@1.1.2/dist/lenis.min.js"></script>
        <script>
            const lenis = new Lenis();

            lenis.on("scroll", (e) => {
                console.log(e);
            });

            function raf(time) {
                lenis.raf(time);
                requestAnimationFrame(raf);
            }

            requestAnimationFrame(raf);
        </script> -->

        <!-- <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
        <link
            rel="stylesheet"
            href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"
        />
        <link
            href="https://unpkg.com/nord-highlightjs@0.1.0/dist/nord.css"
            rel="stylesheet"
            type="text/css"
        /> -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/static/scripts/shuffle.js"></script>

        <script>
            MathJax = {
                tex: {
                    inlineMath: [
                        ["$", "$"],
                        ["\\(", "\\)"],
                    ],
                },
            };
        </script>
        <script
            type="text/javascript"
            id="MathJax-script"
            async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
        ></script>

        <script defer>
            document.addEventListener("DOMContentLoaded", () => {
                const mathJaxElements = document.querySelectorAll(".MathJax");
                mathJaxElements.forEach((element) => {
                    element.style.fontSize = "1.25em";
                });
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const images = document.querySelectorAll('img');

                images.forEach(function (img) {
                    img.style.cursor = 'pointer';

                    img.addEventListener('click', function () {
                        window.open(img.src, '_blank');
                    });
                });
            });
        </script>

        <link
            rel="alternate"
            type="application/atom+xml"
            title="feed"
            href="/feed.atom"
        />

        <link
            rel="stylesheet"
            href="https://unpkg.com/highlight.js@11.10.0/styles/base16/gruvbox-dark-hard.css"
            media="(prefers-color-scheme: dark)"
        />

        <link
            rel="stylesheet"
            href="https://unpkg.com/highlight.js@11.10.0/styles/base16/gruvbox-light-hard.css"
            media="(prefers-color-scheme: light)"
        />

        <link rel="stylesheet" href="/static/style.css" />

        <!-- Cloudflare Web Analytics -->
        <script
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "b16ba3a1a9d546b28b8f3dfae89358e1"}'
        ></script>
        <!-- End Cloudflare Web Analytics -->

        <!-- Scripts filled in from plugins -->
        {{ if $PageData.LiveReload }}
        <script>
            const eventSource = new EventSource("http://localhost:8000/events");
            eventSource.onmessage = function (event) {
                location.reload();
            };
        </script>
        {{ end }} {{range $PageData.Frontmatter.JSFiles}}
        <script src="/static/scripts/{{.}}" defer></script>
        {{end}} {{range .DeepDataMerge.LayoutConfig.SiteScripts}}
        <script src="/static/scripts/{{.}}" defer></script>
        {{end}}

        <link rel="icon" type="image/x-icon" href="/static/cl.jpg" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ $PageData.Frontmatter.Title }}" />
        <meta
            property="og:description"
            content="{{ $PageData.Frontmatter.Description }}"
        />
        <meta
            property="og:image"
            content="{{ $PageData.Frontmatter.PreviewImage }}"
        />

        <!-- Thanks to Beau Smith on Stackoverflow -->
        <meta name="format-detection" content="telephone=no" />

        <script defer></script>

        <!-- <script src="/static/scripts/nav.js"></script> -->
    </head>
    {{end}}
</html>
