{{define "head"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>~/{{$.Layout.Author}}/{{.Frontmatter.Title}}</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">-->
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
    <!-- <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/tokyo-night-dark.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/tomorrow-night.css">

    <!-- Hopefully some working clipboard copying -->
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />
    <link rel="alternate" type="application/atom+xml" title="feed" href="/feed.atom">
    <link rel="preload stylesheet" href="/static/style.css">
    <script src="/static/scripts/light.js" defer></script>

    {{range .Frontmatter.JSFiles}}
    <script src="/static/scripts/{{.}}" defer></script>
    {{end}}

    {{range .Layout.SiteScripts}}
    <script src="/static/scripts/{{.}}" defer></script>
    {{end}}

    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="~/{{ $.Layout.Author }}/{{ .Frontmatter.Title }}">
    <meta property="og:description" content="{{ .Frontmatter.Description }}">
    <meta property="og:image" content="{{ .Frontmatter.PreviewImage }}">

</head>
{{end}}