{{define "header"}} {{ $PageData := index .DeepDataMerge.Templates .PageURL }}
{{ if eq $PageData nil }} {{ $PageData = .TemplateData }} {{ end }}

<header>
    <nav>
        <div class="navigations">
            <div class="nav-image-div">
                <img alt="site logo" id="theme-toggle" src="/static/me.jpeg" />
            </div>
            <!-- if it is "index" page -->
            {{if eq $PageData.CompleteURL "index.html" }} {{else}}
            <a class="header-element author" href="/"
                >{{ $.DeepDataMerge.LayoutConfig.Author }}</a
            >
            {{end}}
            {{ range $index_no, $map := .DeepDataMerge.LayoutConfig.Navbar }} {{
            range $key, $value := $map }} {{ if eq . "index" }}

            {{else}}
            <a class="header-element" href="/{{.}}.html">{{ $key }}</a>
            {{end}} {{end}} {{end}}
        </div>
    </nav>
    <!-- {{template "search" .}} -->
</header>
{{end}}
