{{define "head"}}
<!-- If the template for a particular url does not exist(posts.html), setting it to the specific page template data -->
{{ $PageData := index .DeepDataMerge.Templates .PageURL }} {{if eq $PageData nil
}} {{ $PageData := index .DeepDataMerge.Notes .PageURL }} {{end}} {{if eq
$PageData nil }} {{ $PageData = .TemplateData }} {{end}}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="{{ $PageData.Frontmatter.Description }}"
        />
        <title>{{ $PageData.Frontmatter.Title }}</title>

        <!-- smooth scroll -->
        <script src="https://unpkg.com/lenis@1.1.2/dist/lenis.min.js"></script>
        <script>
            const lenis = new Lenis();

            lenis.on("scroll", (e) => {
                console.log(e);
            });

            function raf(time) {
                lenis.raf(time);
                requestAnimationFrame(raf);
            }

            requestAnimationFrame(raf);
        </script>

        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
        <link
            href="https://unpkg.com/nord-highlightjs@0.1.0/dist/nord.css"
            rel="stylesheet"
            type="text/css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/static/scripts/shuffle.js"></script>

        <link
            rel="alternate"
            type="application/atom+xml"
            title="feed"
            href="/feed.atom"
        />
        <link rel="stylesheet" href="/static/style.css" />

        <!-- Cloudflare Web Analytics -->
        <script
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "b16ba3a1a9d546b28b8f3dfae89358e1"}'
        ></script>
        <!-- End Cloudflare Web Analytics -->

        <!-- Scripts filled in from plugins -->
        {{ if $PageData.LiveReload }}
        <script>
            const eventSource = new EventSource("http://localhost:8000/events");
            eventSource.onmessage = function (event) {
                location.reload();
            };
        </script>
        {{ end }} {{range $PageData.Frontmatter.JSFiles}}
        <script src="/static/scripts/{{.}}" defer></script>
        {{end}} {{range .DeepDataMerge.LayoutConfig.SiteScripts}}
        <script src="/static/scripts/{{.}}" defer></script>
        {{end}}

        <script defer>
            // add lazy loading to all images
            document.addEventListener("DOMContentLoaded", (event) => {
                var toc = document.querySelector("#toc > details");

                var h1Element = document.getElementById("table-of-contents");
                try {
                    var ulElement = h1Element.nextElementSibling;
                    if (!ulElement)
                        throw new Error(
                            "Next sibling of #table-of-contents is not found",
                        );
                    h1Element.remove();
                    ulElement.remove();
                    // append ulElement to toc
                    toc.appendChild(ulElement);
                } catch (error) {
                    var tocElement = document.getElementById("toc");
                    if (tocElement) {
                        tocElement.remove();
                    }
                    document.remove(toc);
                }
            });
        </script>

        <link rel="icon" type="image/x-icon" href="/static/cl.jpg" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ $PageData.Frontmatter.Title }}" />
        <meta
            property="og:description"
            content="{{ $PageData.Frontmatter.Description }}"
        />
        <meta
            property="og:image"
            content="{{ $PageData.Frontmatter.PreviewImage }}"
        />

        <!-- Thanks to Beau Smith on Stackoverflow -->
        <meta name="format-detection" content="telephone=no" />

        <script defer>
            hljs.highlightAll();
            // hljs.addPlugin(new CopyButtonPlugin());
        </script>

        <!-- <script src="/static/scripts/nav.js"></script> -->
    </head>
    {{end}}
</html>
