{{define "header"}}

{{ $PageData := index .DeepDataMerge.Templates .PageURL }}
{{ if eq $PageData nil }}
  {{ $PageData = .TemplateData }}
{{ end }}

<header>
  <nav>
    <div class="navigations">
      <!--img class="profile-image" alt="profile image" src="/static/me.jpeg" /-->
      {{ range .DeepDataMerge.LayoutConfig.Navbar }}
      {{ if eq . "index" }}
      <a class="header-element" href="/">{{ $.DeepDataMerge.LayoutConfig.Author }}</a>
      {{else}}
      <a class="header-element"  href="/{{.}}.html">{{.}}</a>
      {{end}}
      {{end}}
    </div>
    <div class="theme-toggle-div">
      <img class="theme-toggle" alt="site logo" id="theme-toggle" class="theme-toggle" src="/static/favicon.png" />
    </div>
  </nav>
  <!-- {{template "search" .}} -->
</header>
{{end}}
